
* {
	box-sizing: border-box;
}

body {
	font-family: 'roboto', sans-serif;
	color: #333;
	font-weight: 300;
}

img {
	max-width: 100%;
	height: auto;
}

h1, h2, h3, h3, h5, h6 {
	font-family: 'lato', sans-serif;
}

a{
	text-decoration: none;
}

p{
	line-height: 1.3;
}