.container{
	width: 350px;
	margin: 0 auto;
	
	@mixin smallScreen{
		width: 100%;
	}
	@mixin mediumScreen {
		width: 600px;
	}
	@mixin largeScreen{
		width: 850px;
	}
	@mixin extraLargeScreen {
		width: 1024px;
	}
}

.row{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	
	@mixin mediumScreen {
		flex-direction: row;
	}
}

.column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	padding: 10px;
	@mixin mediumScreen{
		padding: 20px;
	}
}

.column-big{
	flex: 2;
}

.justify-content-center{
	justify-content: center;
}
.justify-content-start {
	justify-content: start;
}
.justify-content-end {
	justify-content: end;
}

.justify-content-space-between {
	justify-content: space-between;
}
.justify-content-space-around {
	justify-content: space-around;
}
.justify-content-space-evenly {
	justify-content: space-evenly;
}

.align-items-start  {
	align-items: start;
}
.align-items-end  {
	align-items: end;
}
.align-items-center  {
	align-items: center;
}
.align-items  {
	align-items: stretch;
}