.text-center{
	text-align: center;
}
.text-justify{
	text-align: justify;
}
.d-none{
	display: none;
}
.d-block {
	display: block;
}
.full-width{
	max-width: 100vw;
}
.margin-left-10{
	margin-left: 10px;
}

.pb-0{
	padding-bottom: 0;
}
.pb-80{
	padding-bottom: 80px;
}
.section {
	padding: 30px 0;
	/* overflow-x: hidden; */
	@mixin mediumScreen{
		padding: 80px 0;
	}
	&-bg-light{
		background-color: $lightGrey;
	}
	&-bg-primary{
		background-color: $blue;
		color: $white;
	}
	&.section-sm{
		padding: 10px 0;
	}
}
.relative{
	position: relative;
}