@define-mixin smallScreen {
	@media(min-width: 320px){
		@mixin-content;
	}
}

@define-mixin mediumScreen {
	@media(min-width: 768px){
		@mixin-content;
	}
}

@define-mixin largeScreen {
	@media(min-width: 992px){
		@mixin-content;
	}
}

@define-mixin extraLargeScreen {
	@media(min-width: 1200px){
		@mixin-content;
	}
}