.contact-box {
	&-title {
		font-size: 1.1875rem;
		line-height: 1;
		font-weight: 700;
		margin-bottom: 15px;
		color: $darkBlue;
		display: none;
		@mixin mediumScreen{
			display: block;
		}
	}
	&-address {
		font-size: 0.975rem;
		line-height: 1.5;
		display: none;
		@mixin mediumScreen{
			display: block;
		}
	}
}