.counter{

	&-block{
		text-align: center;
	}
	&-icon{
		width: 80px;
	}
	&-number{
		font-weight: 900;
		font-size: 2.85rem;
		line-height: 1;
		margin-bottom: 0.8rem;
	}
	&-text{
		margin-top: 0;
		font-weight: 300;
		font-size: 1.05rem;
	}
}