.heading {
	&-subtitle {
		color: $blue;
		text-transform: uppercase;
		letter-spacing: 0.5px;
		font-size: 1rem;
		margin-bottom: 20px;
	}
	
	&-title{
		color: $darkBlue;
		font-size: 1.4rem;
		text-transform: capitalize;
		margin-top: 0;
		@mixin mediumScreen{
			font-size: 2.7rem;
		}
	}
	&-toggle{
		display: none;
		@mixin largeScreen {
			display: inline;
		}
	}
	&-description {
		margin: 0 auto;
		width: 250px;
		display: none;
		@mixin mediumScreen{
			display: block;
		}
		@mixin extraLargeScreen{
			width: 660px;
		}
	}
}